<div class="mt-4">
    <div class="row">
        <h3>Sửa khóa học</h3>
        <form action="/courses/{{course._id}}?_method=PUT" method="post">
            <div class="mb-3">
                <label class="form-label">Tên khóa học</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Nhập vào khóa học" value="{{course.name}}">
            </div>
            <div class="mb-3">
                <labelclass="form-label">Hình ảnh khóa học</labelclass=>
                <input type="text" class="form-control" id="image" name="image" placeholder="Hình ảnh khóa học" value="{{course.image}}">
            </div>
            <div class="mb-3">
                <label class="form-label">Mô tả khóa học</label><br>
                <textarea name="description" id="description" cols="80" rows="10">{{course.description}}</textarea>
            </div>
            <div class="mb-3">
                <label class="form-label">Video khóa học</label>
                <input type="text" class="form-control" id="videoId" name="videoId" placeholder="Nhập video khóa học" value="{{course.videoId}}">
            </div>
            <button type="submit" class="btn btn-primary">Lưu</button>
        </form>
    </div>
</div>